.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25rem;
}