.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.heading {
  margin: 30px auto 60px auto;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 5px;
  max-width: 500px;
  margin: 0 auto;
  @media all and (max-width: 600px) {
    width: 95%;
  }
}
